OPTIONS='{{ docker_opts }}'

LOGGING_OPTIONS='{{ docker_logging_opts }}'

TLS_OPTIONS='{{ docker_tls_opts }}'

REGISTRY_MIRROR='{% for reg in docker_registry_mirrors %}--registry-mirror {{ reg }} {% endfor %}'

INSECURE_REGISTRY='{% for reg in docker_insecure_registries %}--insecure-registry {{ reg }} {% endfor %}'
